
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: right;
    
  }

  a {
    display: block;
    padding: 8px;
  }
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
